*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.full-page{
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/hr.jpg); */
    background-position: center;
    background-size: cover;
    position: absolute;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left:50px ;
    padding-right: 30px;
    padding-top: 10px;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}

nav ul li button{
    font-size: 20px;
    color: black;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover{
    color:#5b4f94;
}
nav ul li a:hover{
    color:#5b4f94;
}

a{
    text-decoration: none;
    color: #5b4f94;
    font-size: 28px;
}


/*======================================*/

#login-form{
    display: none;
}

.form-box{
    width: 400px;
    height: 500px;
    position: relative;
    margin: 2% auto;
    background: rgba(0,0,0,0.2);
    padding:5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #5b4f94;
    border-radius: 30px;
    transition: .5s;
}
.input-group-login{
    top: 100px;
    position: absolute;
    width: 300px;
    transition: .5s;
}
.input-group-register{
    top: 80px;
    position: absolute;
    width: 300px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-right: 10px; 
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #5b4f94;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 34px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left:50px;
}

#login input{
    color: white;
    font-size: 15;
}

#employee-registration{
    left: 450px;
}

#employee-registration input{
    color: white;
    font-size: 15;
}

/*  HERO AND HEADER*/

.container {
    width: 1200px;
    max-width: 90%;
    margin-top: -40px;
    margin-left: 60px;
    padding: 50px 0;
  }
  a{
    text-decoration: none;
  }

  .hero {
    margin-top: -100px;
    display: flex;
    align-items: center;
    margin-bottom: -80px;
  }
  
  .hero section {
    flex: 1;
  }
  .hero-left h1 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 25px;
    color: #070439;
  }
  
  .hero-left p {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 25px;
    color: #444444;
  }
  
  .hero-left {
    padding-right: 40px;
  }
  .hero-left a {
    padding: 15px 30px;
    background: #397ef6;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s all ease;
    border-radius: 20px;
  }
  .hero-left a:hover{
    background-color: #070439;
  }
  .right {
    padding-top: 50px;
  }
  
  .right img {
    width: 100%;
    max-width: 465px;
  }
  
  
    nav li {
        list-style: none;
        margin: 0 8px 
    }

    .hero .left{
        flex-direction: column;  
        text-align: center; 
    }

    .hero .right {
        padding-bottom: 5rem; 
    }
  